body {
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 32px;
    background-image: url(haikei.jpg);
  }
  
  header {
    background-color: rgb(253, 117, 170);
    border-bottom: 1px solid #ccc;
    text-align: center;
    color: #fff;
  }
  
  main {
    border-bottom: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.7);
    color: #a16372;
  }
  h2{
    font-size:30px;
  }
  footer {
    background-color: rgb(253, 117, 170);
    border-bottom: 1px;
    text-align: center;
    color: rgb(255, 255, 255);
  }
  
  p {
    font-size: 100%;
    text-align: center;
    border-bottom: 1px;
    height: 100px;
  }
  
  ul {
    text-align: center;
    padding: 0;
    border-top: 1px;
    display: table;
    /* 定義 */
    table-layout: fixed;
    width: 100%;
  }
  
  li {
    text-align: center;
    list-style-type: none;
    border: 1px solid #666;
    background-color: #FFF;
    display: table-cell;
    /* 定義 */
    cursor: pointer;
  }
  
  li:hover {
    background: #224568;
    color: #fff;
  }
  textarea{
    margin: 3%;
    width: 30%;
    height: 30px;
    font-size:50%;
    box-shadow: 3px 3px 3px 3px #555;
  }
  h3{
    margin-right: 30px;
    text-align: right;
  }

  button {
    font-size: 20px;
    display: inline-block;
    background: #f1bad7;
    color: #6d38a1;
    width: 300px;
    height: 200px;
    border: double 4px #a457f1;
    border-radius: 50%;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
  }
  button:hover{
    background: #ff67b8;
    color: #342642;
    border: double 4px #58fff7;
  }